.test {
  margin: 10% auto;
  width: 70%;
  background-color: white;
  border: 1px solid #ccc;
  transition: all .33s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blue(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  position: fixed;
  left: 15%;
  border-radius: 1%;
}

.off {
  opacity: 0;
  visibility: hidden;
  filter: blue(8px);
  transform: scale(0.3);
  z-index: 1;
}

.content {
  padding: 1rem;
}

.closeBtn {
  background-color: red;
  border: none;
  color: white;
  width: 8%;
  padding: 5px;
  height: 4%;
  position: relative;
  float: right;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}